<mat-form-field>
  <input matInput
         placeholder="Type something here:"
         (keyup.enter)="searchUser(searchInput.value)"
         value="Juan Herrera"
         #searchInput />
</mat-form-field>

<button mat-raised-button
        color="primary"
        class="search-button"
        (click)="searchUser(searchInput.value)">Search</button>

<mat-spinner class="loading"
             *ngIf="loading"
             diameter="20"></mat-spinner><br />

<div class="mat-elevation-z8">
  <table mat-table
         multiTemplateDataRows
         [dataSource]="dataSource"
         matSort>
    <ng-container matColumnDef="avatar_url">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Photo</th>
      <td mat-cell
          *matCellDef="let row">
        <img [src]="row.avatar_url"
             alt=""
             class="avatar" />
      </td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>User</th>
      <td mat-cell
          *matCellDef="let row">
        {{ row.login }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Name</th>
      <td mat-cell
          *matCellDef="let row">
        {{ row.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="followers">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Followers</th>
      <td mat-cell
          *matCellDef="let row">{{ row.followers }}</td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>More Info</th>
      <td mat-cell
          *matCellDef="let row"
          class="bio-data">
        <button mat-raised-button
                color="primary">See More</button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <div *ngIf="element.company">
              <span class="bold">Company:</span> {{ element.company }}
            </div>
            <div *ngIf="element.company">
              <span class="bold">Location:</span> {{ element.location }}
            </div>
            <div *ngIf="element.following">
              <span class="bold">Following:</span> {{ element.following }}
            </div>
            <div *ngIf="element.hireable">
              <span class="bold">Hireable:</span> {{ element.hireable }}
            </div>
            <div *ngIf="element.public_repos">
              <span class="bold">Public Repos:</span> {{ element.public_repos }}
            </div>
            <div>
              <span class="bold">Member Since:</span> {{ element.created_at | date: 'yyyy' }}
            </div>
          </div>
          <div class="example-element-description">
            <h2>Description:</h2>
            <span *ngIf="!element.bio; else bio">No description provided...</span>
            <ng-template #bio>{{ element.bio }}</ng-template>
            <br />
            <br />
            <a mat-raised-button
               [href]="element.html_url"
               color="accent"
               target="_blank">See Profile</a>&nbsp;&nbsp;
            <a mat-raised-button
               [href]="element.url"
               color="accent"
               target="_blank">See API Result</a>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div *ngIf="!loading">
  <h4 *ngIf="totalUsersFound > 0;else noUsersFound">We found {{totalUsersFound}} users 🎉</h4>
  <ng-template #noUsersFound>
    <h4>We couldn't find any users 😢</h4>
  </ng-template>
</div>